/* Micro reset */
*,*:before,*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
	color: black;
	font-size: 16px;
	font-family: Helvetica, Sans-Serif;
}

body {
  overflow-x: hidden;
}

/* cascade-gallery */

.gallery-wrapper {
  min-height: 100%;
  min-width: 100%;
  background-color: white;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  padding: 50px;
}

.gallery-wrapper img {
  position: static;
  width:auto;
  max-width: 100%;
  height: auto;
}

.gallery-wrapper h1 {
	font-size: 28px;
  text-align: center;
}

.gallery-wrapper .thumbnails-wrapper,
#images-wrapper .description-wrapper {
  max-width: 720px;
  margin: 0 auto 0.5em;
  position: relative;
  text-align: center;
  background-color: gray;
}

#images-wrapper .description-wrapper {
  background-color: #999999;
}

#images-wrapper {
  text-align: center;
  margin: 0 auto;
  background-color: silver;
}

#images-wrapper img {
  margin-bottom: 0.5em;
}

#images-wrapper .description-wrapper #name {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  background-color: gray;
}

#images-wrapper .description-wrapper #close-button {
  width: 20px;
  height: 20px;
  margin-left: 0.5em;
  float: right;
  text-align: right;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='20px' height='20px' viewBox='0 0 20 20' enable-background='new 0 0 20 20' xml:space='preserve'><path d='M 0 0 l 20 20' style='fill: none; stroke-width: 4; stroke: black;'></path><path d='M 20 0 l -20 20' style='fill: none; stroke-width: 4; stroke: black;'></path></svg>");
  background-size: contain;
}

#images-wrapper .description-wrapper #description {
  position: static;
  margin: 0.5em 0;
  width: 100%;
  font-size: 16px;
  text-align: justify;
  background-color: #e6e6e6;
}
